html {
    font-size: 62.5%; 
}  

body {
    max-width: 1440;
    min-width: 375px;
    margin: 0 auto;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    width: 450px;
    height: 800px;
    margin-top: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}